<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1 style="font-family: Poppins; margin-bottom: 20px; ">VEN A VIVIR UNA EXPERIENCIA ÚNICA  </h1>
    <h1 style="font-family: Poppins; margin-bottom: 20px ; color:antiquewhite "> EN LUGARES SINGULARES </h1>
    <form [formGroup]="searchForm">
      <nav class="navbar justify-content-center">
        <ul class="nav justify-content-center">
          <li class="form-control me-4" style="min-width: 300px;">
            <select class="form-control" formControlName="city">
              <option *ngFor="let municipio of municipios">{{municipio}}</option>
            </select>
          </li>
        </ul>
        <ul class="nav justify-content-center">
          <li class="form-control me-4">
            <button class="btn btn-primary" type="submit" (click)="routeToSearch()">Buscar</button>
          </li>
        </ul>
      </nav>
    </form>
  </div>
</section>
<!-- End Hero -->
<div class="section-title" style="text-align: center; padding: 30px;">
  <h2>Nuestros sitios favoritos</h2>

</div>




<div class="how-section1" style="text-align: center; background-color: #F8F8F8;">
  <div class="row">
    <div class="col-md-8 how-img">
      <img src="../../../assets/miravet.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-4">
      <div class="section-title" style="margin-top: 80px;">
        <h2 class="text-success">Miravet <br>(Tarragona)</h2>
      </div>

      <p class="text-muted">Muchos afirman que es el pueblo más bonito de la provincia, .</p>
      <button class="btn btn-success" style="border-radius: 0px; width: 300px;" type="submit"
        (click)="routeToSearch()">Buscar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="section-title" style="margin-top: 80px;">
        <h2 class="text-success">Tossa de Mar</h2>
      </div>

      <p class="text-muted">Gozarás de unas impresionantes vistas al pueblo y a la playa Grande. Tiene
         un casco histórico medieval que está rodeado murallas y sobresale al mar, el Cap de Tossa.</p>
      <button class="btn btn-success" style="border-radius: 0px; width: 300px; " type="submit"
        (click)="routeToSearch()">Buscar</button>
    </div>
    <div class="col-md-8 how-img">
      <img src="../../../assets/tossa.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 how-img">
      <img src="../../../assets/cadaques.png" class="img-fluid" alt="" />
    </div>
    <div class="col-md-4">
      <div class="section-title" style="margin-top: 80px;">
        <h2 class="text-success">Cadaqués (Girona)</h2>
      </div>

      <p class="text-muted">La bella silueta de Cadaqués, con casas blancas de antiguos pescadores, junto a la
         costa del Mediterráneo salpicada de veleros</p>
      <button class="btn btn-success" style="border-radius: 0px; width: 300px;" type="submit"
        (click)="routeToSearch()">Buscar</button>
    </div>
  </div>

</div>








  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331; text-decoration: none;"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="bi bi-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" style="text-decoration: none;">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
           
            <p>
              <a href="#!" class="text-white">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-white">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" 
         >ESLIP Buscador de hoteles por población</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

 